# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

## JAVA (컴파일된 파일) ###
*.class
*.log
*.lock
*.bin

### Gradle (빌드 결과물) ###
.gradle/
build/
target/
!gradle/wrapper/gradle-wrapper.jar

### Security ###
.env
.env.*
application-dev.yaml




