spring:
  application:
    name: discodeit
  servlet:
    multipart:
      # 파일 하나의 최대 크기
      max-file-size: 10MB
      # 최대 업로드 가능 용량
      max-request-size: 20MB
      # 임시 파일 저장 경로

discodeit:
  repository:
    type: file   # jcf | file
    file-directory: .discodeit

  session:
    timeout: 5

  # swagger config
  # https://springdoc.org/#properties
  springdoc:
    api-docs:
      # OpenAPI 명세서 경로(JSON)
      path: /api/v3/api-docs
    swagger-ui:
      # OpenAPI 명세서 경로(HTML)
      path: /swagger-ui.html
      # 요청 응답 시간 표시
      display-request-duration: true
      # API 정렬 기준
      operations-sorter: method # HTTP 메서드의 알파벳 기준
      # operations-sorter: alpha # Java 메서드의 알파벳 기준


