server:
  port: 80

spring:
  application:
    name: discodeit
  servlet:
    multipart:
      # 파일 하나의 최대 크기
      max-file-size: 10MB
      # 최대 업로드 가능 용량
      max-request-size: 20MB
      # 임시 파일 저장 경로
  
  jpa:
    database: postgresql
    database-platform: org.hibernate.dialect.PostgreSQLDialect
    open-in-view: false

logging:
  level:
    root: info

discodeit:
  storage:
    type: ${STORAGE_TYPE:local} # local | s3 (기본값: local)
    local:
      root-path: ${STORAGE_LOCAL_ROOT_PATH:.discodeit/storage}
    s3:
      access-key: ${AWS_S3_ACCESS_KEY}
      secret-key: ${AWS_S3_SECRET_KEY}
      region: ${AWS_S3_REGION}
      bucket: ${AWS_S3_BUCKET}
      presigned-url-expiration: ${AWS_S3_PRESIGNED_URL_EXPIRATION:600} # (기본값: 10분)

  session:
    timeout: 5

  # swagger config
  # https://springdoc.org/#properties
  springdoc:
    api-docs:
      # OpenAPI 명세서 경로(JSON)
      path: /api/v3/api-docs
    swagger-ui:
      # OpenAPI 명세서 경로(HTML)
      path: /swagger-ui.html
      # 요청 응답 시간 표시
      display-request-duration: true
      # API 정렬 기준
      operations-sorter: method # HTTP 메서드의 알파벳 기준
      # operations-sorter: alpha # Java 메서드의 알파벳 기준

management:
  endpoints:
    web:
      exposure:
        include: "*" # 모든 엔드포인트 노출
  endpoint:
    health:
      show-details: always
    info:
      access: read_only

info:
  app:
    name: Discodeit
    version: 1.7.0
  java:
    version: "@java.version@"
  spring-boot:
    version: "@spring-boot.version@"
  datasource:
    url: ${spring.datasource.url}
    driver-class-name: ${spring.datasource.driver-class-name}
  jpa:
    generate-ddl: ${spring.jpa.generate-ddl}
  storage:
    type: ${discodeit.storage.type}
    path: ${discodeit.storage.local.root-path}
  multipart:
    max-file-size: ${spring.servlet.multipart.max-file-size}
    max-request-size: ${spring.servlet.multipart.max-request-size}
