spring:
  application:
    name: discodeit
  servlet:
    multipart:
      # 파일 업로드 활성화 여부(기본값 true)
      enabled: true
      # 업로드 가능한 개별 파일 최대 크기
      max-file-size: 10MB
      # 전체 요청의 최대 크기
      max-request-size: 20MB
      # 임시 파일 저장 경로
      location: /tmp

file:
  upload:
    windows:
      path: 'C:/myWs/uploadedFiles'
    mac:
      path: '/myWs/uploadedFiles'

discodeit:
  repository:
    type: file   # jcf | file
    file-directory: .discodeit

  session:
    timeout: 5
