server:
  port: 80

spring:
  datasource:
    url: jdbc:postgresql://host.docker.internal:5432/discodeit
    username: discodeit_user
    password: discodeit1234
  jpa:
    properties:
      hibernate:
        format_sql: false
  boot:
    admin:
      client:
        url: ${SPRING_BOOT_ADMIN_CLIENT_URL}

logging:
  level:
    com.sprint.mission.discodeit: info
    org.hibernate.SQL: info

management:
  endpoint:
    health:
      show-details: never
  info:
    env:
      enabled: false